@page
@model Mission9_celder20.Pages.BuyBookModel
@{
}

<h2>Your Cart</h2>

@*BOOTSTRAP ADDED #1: Table in the "cart" section of the website
    has a "table-hover" feature added so that when a user has their mouse over a certain row on the table, it darkens so they know that is the row they are on. Along with this, for each of the "th" tags
    I added a color and made it so they are all uppercase. And lastly, I added "I" tags to italicize all of the "th" tags*@
<table class="table table-bordered table-striped table-hover table-responsive">@*  *@
    <thead>
        <th class="text-primary text-uppercase"><i>Book</i></th>
        <th class="text-primary text-uppercase"><i>Quantity</i></th>
        <th class="text-primary text-uppercase"><i>Price</i></th>
        <th class="text-primary text-uppercase"><i>Subtotal</i></th>
    </thead>
    <tbody>
        @foreach(var i in Model.cart.Items)
        {
            <tr>
                <td>@i.Book.Title</td>
                <td>@i.Quantity</td>
                <td>$@i.Book.Price</td>
                <td>@((i.Quantity * i.Book.Price).ToString("c"))</td>

                <td class="text-center">
                    <form method="post" asp-page-handler="Remove">
                        <input type="hidden" name="bookId" value="@i.Book.BookId" />
                        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                        <button type="submit" class="btn btn-sm btn-dark">Remove Item</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Total: </td>
            <td>@Model.cart.CalculateTotal().ToString("c")</td>
        </tr>
    </tfoot>
</table>

<div>
    @*Button that allows a user to return back to add more books to the cart*@
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>
    @*Button that allows a user to checkout*@
    <a class="btn btn-primary" asp-controller="Buy" asp-action="Checkout" >Checkout</a>
</div>

